/*   HEAD   */
header {
    background-color: var(--tertiary-color);
    border-bottom: 2px solid var(--secondary-color);
    color: var(--primary-color);
}
nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}
nav ul li a.current {
    font-weight: bold;
    color: var(--secondary-color);
}



/*   BODY   */
h1 {
    font-size: 4.5rem; 
    margin-top: 70px;
    margin-bottom: 60px; 
    color: var(--primary-color); 
}
h3 {
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
    color: var(--primary-color); 
}
section {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 20px;
}
article {
    margin-bottom: 20px;
}
.education-item {
    display: flex;
    margin-bottom: 20px;
}
.education-image {
    flex: 0 0 400px; 
    margin-right: 20px;
}
.education-text {
    flex: 1;
}
.education-image img {
    width: 100%;
    height: auto;
}

/*   TABLET  */
@media (max-width: 768px) {
    header {
        padding: 10px; 
        font-size: 3.5rem;
    }
}

/*   MOBILE  */
@media (max-width: 576px) {
    header {
        padding: 5px; 
        font-size: 2.5rem;
    }
}
